<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935260008088-a0la6k7sosc6hh72u23vq91tl27de4ql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935260008088-a0la6k7sosc6hh72u23vq91tl27de4ql</string>
	<key>API_KEY</key>
	<string>AIzaSyD-W2tM-0LIUbdlyz2ESg32Gz4i5qKlH7U</string>
	<key>GCM_SENDER_ID</key>
	<string>935260008088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-a765c</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-a765c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935260008088:ios:28856128760c71c9da6aed</string>
</dict>
</plist>